<%- include('components/header', {title: "Register"}); %>
<%- include('components/nav', {register: "active"}); %>
    <div class="uk-container uk-container-xsmall" style="padding-top: 5%; text-align: center;">
      <%- include('utils/alert', {}); %>
    </div>
    <div class="uk-container uk-container-xsmall" style="padding-top: 5%;">
      <form style="text-align: center;" method="post">
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="E-mail" name="email">
          </div>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="Your name" name="name">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="text" placeholder="Password" name="password">
          </div>
          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="text" placeholder="Re-type your Password" name="password2">
          </div>
          <div class="uk-margin uk-child-width-1-3@m">
            I am a...
            <select class="uk-select uk-inline" name="role">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <br><i> You cannot change this later.</i>
          </div>
        </div>
        <input class="uk-button uk-button-default uk-button-small" type="submit" value="Register">
      </form>
      <dl class="uk-description-list uk-description-list-divider" style="padding: 40px 0px; text-align: center;">
        <dt>YOUR PRIVACY</dt>
        <dd>With your registration you accept that we store your data on our servers.<br>We will not share it with any 3rd party.</dd>
      </dl>
    </div>
<%- include ('components/footer') %>