<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Matech - <%= title %></title>
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
    <style>
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    </style>
  </head>
  <body>
