<li data-color="white">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="uk-card-title"><%= utils.formatDate(lesson.start)%></div>
      <div><%= lesson.duration %> mins</div>
      <div><%= lesson.subject %></div>
      <a class="uk-button uk-button-danger uk-button-small" type="button" href="/dashboard/calendar/<%= lesson._id %>">Remove</a>
    </div>
  </li>