<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" uk-grid style="margin-top: 8%;">
    <div class="uk-card-media-left uk-cover-container">
      <img src="<%= message.img %>" alt="" uk-cover>
      <canvas width="300" height="200"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><%= message.name %></h3>
        <div class="uk-card-badge uk-label"><%= message.price %> hours ago</div>
        <strong>You can reach him: <%= message.email %></strong>
      </div>
    </div>
  </div>
</div>